.cart-btn{
    display: grid;
    border-radius: 50%;
    color: black;
    padding: .5rem;
    position: absolute;
    right: 20px;
    top: 20px;
    background: var(--clr-primary);
    z-index: 998;
    transition: .3s;
}

.cart-btn:hover{
    scale: 1.1;
}

.cart{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background: rgb(0, 0, 0);
    z-index: 999;
    padding: 3rem 1rem;
    width: 350px;
}

.cart ul{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cart ul li{
    display: grid;
    place-items: center;
    padding: 1rem;
    gap: .3rem;
    border-bottom: 1px solid rgba(177, 177, 177, 0.281);
}

.cart img{
    max-width: 250px;
}

.cart div{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.cart button{
    display: grid;
    place-content: center;
}

.cart-btn ~ input:checked ~ .cart{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.quantity-btns-container{
    display: flex;
    gap: 1rem;
}

.quantity-btn{
    color: var(--clr-accent);
    font-size: 2rem;
}

.close-cart-btn{
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
}