.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.filter-container > *{
    font-size: 15px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters{
    display: flex;
    gap: 3rem;
}